$foreground: #222222;
$background: #ffffff;
$secondary: gray;
$tertiary: #dddddd;
$accent: rgb(203, 132, 0);


@mixin light-theme {
    color: $foreground;
    background-color: $background;

    .secondary {
        color: $secondary;
    }

    a,
    a:link,
    a:visited {
        text-decoration: none;
        color: $accent;
    }

    a:hover {
        color: darken($accent, 30%);
    }

    blockquote {
        border-left: 2px solid $secondary;
    }

    code {
        background-color: $tertiary;
    }

    pre code {
        background-color: transparent;
    }

    .footnote-definition sup {
        color: $secondary;
    }

    table {

        th,
        td {
            border-color: darken($tertiary, 5%);
        }

        thead,
        tr:nth-child(even) {
            background-color: lighten($tertiary, 10%);
        }
    }


}

@media (prefers-color-scheme: light) {
    body {
        @include light-theme;
    }
}
