@media (prefers-color-scheme: light) {
    body {
        color: #222;
        background-color: #fff
    }

    body .secondary {
        color: gray
    }

    body a,
    body a:link,
    body a:visited {
        text-decoration: none;
        color: #cb8400
    }

    body a:hover {
        color: #322100
    }

    body blockquote {
        border-left: 2px solid gray
    }

    body code {
        background-color: #ddd
    }

    body pre code {
        background-color: rgba(0, 0, 0, 0)
    }

    body .footnote-definition sup {
        color: gray
    }

    body table th,
    body table td {
        border-color: #d0d0d0
    }

    body table thead,
    body table tr:nth-child(even) {
        background-color: #f7f7f7
    }
}

html,
body {
    margin: 0;
    padding: 0
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    line-height: 1.3em;
    padding: 5em 25%;
    min-height: 70vh;
    display: flex;
    flex-direction: column
}

.header-links a {
    margin-right: .5em
}

.header-links a:last-of-type {
    margin-right: 0
}

.space {
    margin-bottom: 2em
}

.doublespace {
    margin-bottom: 4em
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.25
}

img {
    max-width: 100%
}

blockquote {
    margin-left: 0;
    padding-left: 1em
}

code {
    padding: .1em .2em;
    font-size: 12pt
}

li {
    margin-top: 1em;
    line-height: 1.3;
    list-style-type: ""
}

li[dir=rtl] {
    padding-inline-start: 40px;
    text-align: right
}

pre {
    overflow: auto;
    padding: .3em
}

pre code {
    padding: 0
}

.footnote-definition {
    margin-top: 1em
}

.footnote-definition:first-of-type {
    margin-top: 3em
}

.footnote-definition p {
    display: inline
}

table {
    border-spacing: 0
}

table th,
table td {
    border: 1px solid;
    border-left: none;
    padding: .2em
}

table th:first-child,
table td:first-child {
    border-left: 1px solid
}

table th {
    border-top: 1px solid
}

table td {
    border-top: none
}

footer {
    margin-top: auto
}

.mylink {
    padding-left: 1em
}

@media all and (max-width: 1200px) {
    body {
        padding: 3em 15%
    }
}

@media all and (max-width: 800px) {
    body {
        padding: 1em 1em
    }
}
